//Buscar colores para vim/Neovim/VisualCode
//https://gogh-co.github.io/Gogh/

$color1:#abb2bf;
$color2:#e5c07b;
$color3:#3e4452;
$color4:#98c379;
$color5:#e06c75;
$color6:#8789c0;
$color7:#969a97;
$color8:#feffff;
$color9:#61afef;
$color10:#5c6370;
$color11:#d19a66;
$color12:#edaf97;
$color13:#92b6b1;
$color14:#c678dd;
$color15:#2c323c;
$color16:#e47b66;
$color17:#282c34;

$CNSL_bgColor:#0e1012; ///$color17
$CNSL_fontColor:$color1;
$CNSL_fontColorComment:$color10;
$CNSL_fontColorVarType:$color2;
$CNSL_fontColorNumber:$color11;

$linkColor:$color9;
