@use "./colorPalet.scss" as *; 
$FontFm:Cozette; // Font-Family
$Fontcolor:#c5c8c6; // Font-Color
$Fontshadow:rgba(167,170,168,0.6);// Font-shadow


.Pxfont {
    font-family: $FontFm;
    color: $CNSL_fontColor;
    text-shadow: 1px 1px 1px $Fontshadow;
    //--------
    font-size: 1.5rem;
    text-align: center;
    // transition: 0.5s;
    // &:hover {
    //     animation: gelatine 0.5s infinite;
    //     color: aqua;
    // }
}


