@use "./colorPalet.scss" as *; 
.Proy_containter { // Cotennedor del cada proyecto individual
    display: flex;
    flex-direction: column;
    // display: grid;
    // grid-auto-columns: 1fr 1fr 1fr;
    gap: 8px;
    height: 400px;
    img {
        width: 100%;
        object-fit: cover;
    }
 
    color :$CNSL_fontColor;

    background:$color15;

    width: 250px;
    padding: 2%;
    border-radius: 25px;
    
}

.Proyects { //Principal
    display: flex;
    flex-direction: column;
    gap : 8px;
    p {
        line-height: 1.5;
        font-size: 1.2rem;
    }
}

.Todos_proy {
    display: flex;
    gap: 16px;
}